.well {
  overflow:hidden;
}

.img {
  float:left;
  margin:.5em 0;
  margin-right:10px;
}

.img a {
  float:left;
  width:200px;
  height:200px;
  overflow:hidden;
}

.img a img {
  min-width:200px;
  min-height:200px;
}
